a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

a:first-child {
  margin-right: 1.6rem;
}

a img {
  width: 4rem;
  margin-right: 2.4rem;
}
